# 🐍 Python
__pycache__/
*.py[cod]
*.sqlite3

# 🚫 Virtual Environment
venv/

# 🗃️ Environment Variables
.env

# 🌐 VSCode/IDE
.vscode/
*.code-workspace
.idea/

# TODO 
TODO.txt

#
__pycache__
utils/__pycache__