.toggle-buttons {
    text-align: center;
    margin: 20px auto;
}

.toggle-buttons button {
    font-family: 'Caveat', cursive;
    font-size: 18px;
    padding: 12px 20px;
    margin: 0 8px;
    border-radius: 10px;
    border: none;
    background: #f0f0f0;
    transition: 0.3s;
    cursor: pointer;
}

.toggle-buttons button.active {
    background-color: #0077cc;
    color: white;
    font-weight: bold;
}
